*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

svg {
    height: 60px;
    width: 60px;
}

.mini-profile img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.mini-profile-2 img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.menu-items svg,
.header svg {
    height: 30px;
    width: 30px;
}

/* for visualization only */
.sidebar {
    background-color: #fdba74;
}

.header {
    background-color: #ffedd5;
}

.main-content {
    background-color: #fb923c;
}

/* grid that will divide the 3 sections */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* for side bar */
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 20px;
}

.sidebar .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.sidebar .menu-items {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar .menu-items:nth-child(7) {
    margin-bottom: 60px;
}







